@charset "utf-8";

/* 本地tab页 */
.tab-nav{height:22px;padding:5px 0 0 5px;border-bottom:1px solid #a1c6e1;}
	.tab-nav-wrap li{float:left;margin-right:5px;background:url('tab-nav-img/tabs.gif') no-repeat 0 0;padding-left:10px;}
		.tab-nav-wrap a{float:left;height:22px;line-height:22px;color:#000;background:url('tab-nav-img/tabs.gif') no-repeat right 0;padding-right:10px;}
		.tab-nav-wrap a:hover{text-decoration:none;color:#666;}
		.tab-nav-wrap span{float:left;height:22px;line-height:22px;cursor:pointer;background:url('tab-nav-img/tabs.gif') repeat-x 0 -50px;}
	.tab-nav-wrap li.hover{height:23px;font-weight:700;background:url('tab-nav-img/tabs.gif') no-repeat 0 -25px;margin-bottom:-1px;position:relative;}
		.tab-nav-wrap li.hover a{height:23px;font-weight:700;background:url('tab-nav-img/tabs.gif') no-repeat right -25px;}
		.tab-nav-wrap li.hover span{height:23px;background-position:0 -75px;}
	.tab-con-wrap{}
		.tab-con-wrap div.hover{display:none;height:100%;}
