@charset "utf-8";

/* 弹出层样式 */
.popwin-wrap{background-color:#fff;overflow:hidden;position:absolute;}

	.popwin-title-wrap{background:url('popwin-img/bg1.gif') repeat-x 0 0;height:26px;line-height:26px;padding:0 20px 0 10px;position:relative;border-bottom:1px solid #fff;}
		.popwin-title{display:inline-block;height:26px;line-height:26px;font-weight:700;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
		.popwin-close{position:absolute;top:7px;right:7px;background:url('popwin-img/x.gif') no-repeat 0 0;width:12px;height:12px;overflow:hidden;}
		.popwin-close:hover{background-position: 0px -20px;text-decoration:none;}

	.popwin-content-wrap{border:1px solid #fff;border-top:1px solid #d7d5d5;}
		.popwin-content{cursor:default;background:#fff;overflow:auto;}

	.popwin-form{overflow:hidden;padding-top:15px;}
	.popwin-btns{background:#f0f0f0;padding:6px 0;text-align:center;}
