@charset "utf-8";

/* 弹出层样式 */
.popwin-wrap{background-color:#fff;overflow:hidden;position:absolute;}

	.popwin-title-wrap{background:url('popwin-img/bg1.gif') repeat-x 0 0;height:26px;line-height:26px;padding:0 20px 0 10px;position:relative;border-bottom:1px solid #fff;}
		.popwin-title{display:inline-block;height:26px;line-height:26px;font-weight:700;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
		.popwin-close{position:absolute;top:7px;right:7px;background:url('popwin-img/x.gif') no-repeat 0 0;width:12px;height:12px;overflow:hidden;}
		.popwin-close:hover{background-position: 0px -20px;text-decoration:none;}

	.popwin-content-wrap{border:1px solid #fff;border-top:1px solid #d7d5d5;padding:5px;}
		.popwin-content{cursor:default;background:#fff;overflow:auto;}

	.popwin-form{overflow:hidden;padding:15px;}
	.popwin-btns{background:#f0f0f0;padding:6px 0;text-align:center;}
	.popwin-btns input[type=button], .popwin-btns input[type=submit]{
		border-width:2px;
		width:72px;
		height:22px;
		border-left-colors:#bcbcbc #fff;
		-moz-border-left-colors:#bcbcbc #fff;
		-webkit-border-left-colors:#bcbcbc #fff;
		border-top-colors:#bcbcbc #fff;
		-moz-border-top-colors:#bcbcbc #fff;
		-webkit-border-top-colors:#bcbcbc #fff;
		border-right-colors:#bcbcbc #fff;
		-moz-border-right-colors:#bcbcbc #fff;
		-webkit-border-right-colors:#bcbcbc #fff;
		border-bottom-colors:#bcbcbc #fff;
		-moz-border-bottom-colors:#bcbcbc #fff;
		-webkit-border-bottom-colors:#bcbcbc #fff;
		background:-moz-linear-gradient(top, #f7f7f7, #dcdcdc);
		background:-webkit-linear-gradient( #f7f7f7, #dcdcdc);
		cursor:pointer;
		margin:0 5px;
	}


	.theme-blue .popwin-wrap{background:none;}
	.theme-blue .popwin-title-wrap{position:relative;height:31px;padding:0;padding-right:30px;border:none;background:url('theme-blue/bg1.gif') no-repeat right top;}
		.theme-blue .popwin-title{display:block;height:31px;line-height:31px;padding-left:10px;background:url('theme-blue/bg1.gif') no-repeat 0 -40px;font-weight:700;}
		.theme-blue .popwin-close{position:absolute;right:10px;top:10px;width:13px;height:13px;background:url('theme-blue/x.gif') no-repeat 0 0;outline:none;}
		.theme-blue .popwin-close:hover{background-position:0 -20px;}
	.theme-blue .popwin-content-wrap{border:1px solid #97bdc2;background:#fff;border-top:none;padding:1px;overflow:auto;}

	.theme-blue .popwin-btns{background:#e8f1f1;}


	.theme-gray .popwin-wrap{background:none;}
	.theme-gray .popwin-title-wrap{position:relative;height:31px;padding:0;padding-right:30px;border:none;background:url('theme-gray/bg1.gif') no-repeat right top;}
		.theme-gray .popwin-title{display:block;height:31px;line-height:31px;padding-left:10px;background:url('theme-gray/bg1.gif') no-repeat 0 -40px;font-weight:700;}
		.theme-gray .popwin-close{position:absolute;right:10px;top:10px;width:13px;height:13px;background:url('theme-gray/x.gif') no-repeat 0 0;outline:none;}
		.theme-gray .popwin-close:hover{background-position:0 -20px;}
	.theme-gray .popwin-content-wrap{border:1px solid #97bdc2;background:#fff;border-top:none;padding:1px;overflow:auto;}

	.theme-gray .popwin-btns{background:#f2f0f1;}