@charset "utf-8";

/* 提示层 */
.tipmsg-wrap{width:300px;position:relative;}
	/* use image */
	.tipmsg-h1{background:url('tip-img/bg.gif') no-repeat left -50px;height:25px;padding-left:10px;}
	.tipmsg-h2{background:url('tip-img/bg.gif') no-repeat right -50px;height:25px;padding-right:20px;}
	.tipmsg-h3{background:url('tip-img/bg.gif') repeat-x 0 0;height:25px;line-height:25px;}

	.tipmsg-b1{background:url('tip-img/bg.gif') no-repeat left bottom;padding-left:10px;}
	.tipmsg-b2{background:url('tip-img/bg.gif') no-repeat right bottom;padding-right:10px;}
	.tipmsg-b3{border-bottom:1px solid #b6d3ef;background:#fff;text-align:center;height:28px;}
		.tipmsg-b3 input{margin:0 5px;border:none;overflow:hidden;background:url('tip-img/icons.gif') no-repeat -40px -40px;width:72px;height:22px;color:#2a2a2a;cursor:pointer;}


	/* use css3 */
	.tipmsg2-h1{height:23px;line-height:23px;padding:0 20px 0 10px;border:1px solid #afcdea;
				border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;
				background:-moz-linear-gradient(top, #fff, #d1e1f4);background:-webkit-linear-gradient( #fff, #d1e1f4);}
	.tipmsg2-b1{height:30px;text-align:center;border:1px solid #afcdea;border-top:none;background:#fff;
				border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;}
	.tipmsg2-b1 input[type=button]{
		border-width:2px;
		width:72px;
		height:22px;
		border-left-colors:#b6d3ef #ecf5ff;
		-moz-border-left-colors:#b6d3ef #ecf5ff;
		border-top-colors:#b6d3ef #ecf5ff;
		-moz-border-top-colors:#b6d3ef #ecf5ff;
		border-right-colors:#b6d3ef #ecf5ff;
		-moz-border-right-colors:#b6d3ef #ecf5ff;
		border-bottom-colors:#b6d3ef #ecf5ff;
		-moz-border-bottom-colors:#b6d3ef #ecf5ff;
		background:-moz-linear-gradient(top, #deefff, #c3ddfc);
		background:-webkit-linear-gradient( #deefff, #c3ddfc);
		cursor:pointer;
		margin:0 5px;
		}

	/* common */
	.tipmsg-title{display:block;overflow:hidden;color:#373737;font-weight:700;white-space:nowrap;text-overflow:ellipsis;}
	.tipmsg-close{position:absolute;top:6px;right:6px;width:13px;height:13px;background:url('tip-img/icons.gif') no-repeat 0 -40px;overflow:hidden;outline:none;}
	.tipmsg-close:hover{background-position:0px -60px;}

	.tipmsg-c1{padding:30px 20px 20px 60px;border-left:1px solid #afcdea;border-right:1px solid #afcdea;background:#fff;}
		.tipmsg-content{cursor:default;line-height:1.2em;}

	.tipmsg-alert,
	.tipmsg-notice,
	.tipmsg-confirm,
	.tipmsg-error{position:absolute;width:27px;height:27px;top:50%;left:20px;margin-top:-10px;overflow:hidden;}

	.tipmsg-alert{background:url('tip-img/icons.gif') no-repeat 0 0;}
	.tipmsg-notice{background:url('tip-img/icons.gif') no-repeat -40px 0;}
	.tipmsg-confirm{background:url('tip-img/icons.gif') no-repeat -80px 0;}
	.tipmsg-error{background:url('tip-img/icons.gif') no-repeat -120px 0;}