@charset "utf-8";

.wadconfig-form{padding:5px 10px;width:600px;}

.wadconfig-wrap{border:1px solid #dddedf;margin-top:15px;padding-top:10px;position:relative;background:#fafafa;width:780px;}
	.wadconfig-legend{position:absolute;top:-15px;left:50px;padding:5px;background:#fafafa;font-weight:700;}
	.wadconfig-box{overflow:hidden;padding:5px;}

	.wadconfig-item1{float:left;margin:0 1px 1px 0;}
		.wadconfig-item1 .wadconfig-label{float:left;height:24px;line-height:24px;width:150px;text-align:right;white-space:nowrap;overflow:hidden;background:#f0f1f1;}
		.wadconfig-item1 .wadconfig-ipts{float:left;padding:3px;height:18px;width:600px;white-space:nowrap;overflow:hidden;}

	.wadconfig-item2{float:left;margin:0 1px 1px 0;}
		.wadconfig-item2 .wadconfig-label{float:left;height:24px;line-height:24px;width:150px;text-align:right;white-space:nowrap;overflow:hidden;background:#f0f1f1;}
		.wadconfig-item2 .wadconfig-ipts{float:left;padding:3px;height:18px;width:225px;white-space:nowrap;overflow:hidden;}

	.wadconfig-item3{float:left;margin:0 1px 1px 0;}
		.wadconfig-item3 .wadconfig-label{float:left;height:24px;line-height:24px;width:300px;text-align:right;white-space:nowrap;overflow:hidden;background:#f0f1f1;}
		.wadconfig-item3 .wadconfig-ipts{float:left;padding:3px;height:18px;width:450px;white-space:nowrap;overflow:hidden;}

	.wadconfig-ipts .text1{width:200px;}


.wadconfig-btns{padding:10px 0;width:770px;text-align:center;}
	.wadconfig-btns a span{width:50px;}


.config2-item{float:left;margin:0 3px 1px 0;}
	.config2-label{float:left;height:28px;line-height:28px;width:100px;text-align:right;white-space:nowrap;overflow:hidden;background:#f0f1f1;}
	.config2-ipts{float:left;padding:3px 3px 3px 8px;height:22px;width:184px;white-space:nowrap;overflow:hidden;}
		.config2-ipts .text1{height:18px;line-height:18px;width:180px;}
		.config2-ipts .select1{height:22px;line-height:22px;width:184px;padding:2px;}
		.config2-ipts .checkbox1{margin-top:5px;}
	
		.config2-item-3r .config2-label{height:86px;}/* 29*n - 1 */
		.config2-item-3r .config2-ipts{height:80px;}/* 29*n - 6 */
		.config2-item-3r textarea.text1{height:76px;}/* 29*n - 10 */

.config2-btn{margin:0 4px;}
	.config2-btn span{width:50px;}