@charset "utf-8";

.config-leader-wrap{padding:15px 24px 0 38px;}
	.leader-tip{width:783px;border:1px solid #ECECEC;background:#F9F9F9;padding:0 25px 11px;}
		.leader-tip ul{list-style: disc outside none;color:#8E8B8A;}
			.leader-tip ul li{margin: 7px 0 0;}
				li span.unconfig{color:#FF5216;background:url("img/small-pink.png") no-repeat scroll 0 0 transparent;display:inline-block;height:17px;line-height:17px;margin-right:26px;padding:1px 0 1px 22px;}
				li span.isconfig{color:#6C9434;background:url("img/small-green.png") no-repeat scroll 0 0 transparent;display:inline-block;height:17px;line-height:17px;margin-right:26px;padding:1px 0 1px 22px;}
	
	.leader-content{width:835px;margin-top:40px;}
		.content-line{height:6px;background:#DFDEDE;margin-left:122px;width:590px;}
		.content-block{margin-top:25px;}
			.content-block .block{width:181px;height:95px;float:left;position:relative;padding:38px 0 0 80px;}
			.block-1{background:url("img/bg-1.png") no-repeat scroll 0 0 transparent;}
			.block-2{background:url("img/bg-2.png") no-repeat scroll 0 0 transparent;}
			.block-3{background:url("img/bg-3.png") no-repeat scroll 0 0 transparent;}
				.block .number-green{background:url("img/green.png") no-repeat scroll 0 0 transparent;color:#6C9434;width:37px;height:37px;position:absolute;top:-47px;left:112px;text-align:center;line-height:33px;font-size:20px;font-weight:bold;}
				.block .number-pink{background:url("img/pink.png") no-repeat scroll 0 0 transparent;color:#894A45;width:37px;height:37px;position:absolute;top:-47px;left:112px;text-align:center;line-height:33px;font-size:20px;font-weight:bold;}
				.block .title{font-weight:bold;margin-bottom:7px;left:80px;position:absolute;top:15px;width:150px;}
				.block .message{color:#656565;height:65px;line-height:19px;padding-right:10px;}
				.block .btn{}
					.block .btn a{color:#A27841;text-decoration:underline;margin-right:9px;}
