@charset "utf-8";

.week-wrap{border:1px solid #9bc0e0;background:#fff;font-size:12px;position:absolute;}
	.week-ctrl{padding:3px;background:#96C2F1;}
		.week-ctrl strong{float:left;color:#000;font-weight:400;}
		.week-ctrl strong span{display:inline-block;font-size:12px;height:14px;line-height:1.2em;width:20px;border:1px solid #bbe1f1;background:#fff;text-align:center;margin:0 1px;-moz-border-radius:3px;border-radius:3px;}
		.week-ctrl .week-year{width:35px;}
		.week-ctrl .week-ok{margin-left:15px;}
	.week-drop-list-wrap{position:absolute;top:45px;left:5px;width:206px;border:1px solid #9bc0e0;background:#f0f5fb;}
		.week-drop-list{position:relative;z-index:1;width:200px;height:90px;padding:2px 0;margin:0 3px;overflow:hidden;}
		.week-drop-list-l{overflow-y:scroll;}
			.week-drop-list strong{float:left;width:31px;height:18px;line-height:18px;margin:0 4px;text-align:center;font-weight:400;color:#ccc;cursor:default;}
			.week-drop-list-l strong{width:28px;}
			.week-drop-list a{float:left;width:31px;height:18px;line-height:18px;margin:0 4px;text-align:center;color:#004499;}
			.week-drop-list a:hover{color:#ff6600;text-decoration:none;}
			.week-drop-list-l a{width:28px;}
			.week-drop-list a.week-drop-list-now{color:#ff6600;font-weight:700;}
		.week-drop-list-ctrl{text-align:right;margin:0 3px;padding:0 5px;border-top:1px solid #9bc0e0;}
			.week-drop-list-ctrl a{margin-left:8px;}
			.week-drop-list-ctrl a:hover{color:#999;text-decoration:none;}
