@charset "utf-8";
.ie67-select{display:inline-block;height:15px;width:100px;padding:1px 15px 1px 1px;border:1px solid #7f9db9;color:#000;background:url('img/arr1.gif') no-repeat 96% 50%;outline:none;}
.ie67-select:hover{text-decoration:none;border-color:#3771a6;}
.ie67-select-opened{background-image:url('img/arr2.gif');border-color:#3771a6;}
.ie67-select-disabled{border-color:#ccc;}
.ie67-select-disabled:hover{border-color:#ccc;cursor:default;}
	.ie67-select-text{float:left;width:100%;white-space:nowrap;height:15px;overflow:hidden;text-overflow:ellipsis;}
	.ie67-select select{display:none;float:left;
/*zoom:expression((function(elm){
	setTimeout(function(){
		$(elm).parent().find('span').html(elm.options[elm.selectedIndex].innerHTML);
	}, 10);
})(this))*/}

.ie67-select-wrap{display:none;position:absolute;border:1px solid #7f9db9;background:#fff;max-height:200px;overflow:auto;}
	.ie67-select-item{display:block;white-space:nowrap;color:#000;padding:3px 5px;outline:none;}
	.ie67-select-item:hover, .ie67-select-selected{text-decoration:none;background:#d9e4ed;}