@charset "utf-8";

/* 弹出层样式 */
.win1-wrap{background-color:#fff;border:1px solid #92b1dc;overflow:hidden;padding:1px;position:absolute;}

	.win1-title-wrap{background:url('popWin-img/bg1.gif') repeat-x 0 0;padding:0 20px 0 10px;position:relative;}
		.win1-title{display:inline-block;height:23px;line-height:23px;font-weight:700;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
		.win1-close{position:absolute;top:5px;right:5px;background:url('popWin-img/x.gif') no-repeat 0 0;width:13px;height:13px;overflow:hidden;}
		.win1-close:hover{background-position: 0px -20px;text-decoration:none;}

	.win1-content-wrap{border-top:1px solid #92b1dc;margin:1px -1px -1px;padding:8px;background:#f8fbff;}
		.win1-content{cursor:default;background:#fff;position:relative;overflow:auto;padding-bottom:28px;}

	.win1-btns{text-align:right;position:absolute;left:0;bottom:0;width:100%;}
		.win1-btns input{width:72px;height:22px;line-height:22px;margin-left:8px;background:url('popWin-img/btn1.gif') no-repeat 0 0;border:none;cursor:pointer;}