@charset "utf-8";
html{overflow:hidden;height:100%;}
body{overflow:hidden;height:100%;}

	.login-warp-top{width:100%;height:45%;position:absolute;top:0;background-color:#29d3d7;}
	.login-warp-bottom{width:100%;height:55%;position:absolute;bottom:0;background-color:#ffffff;}

	.login-warp-middle{width:100%;height:600px;top:45%;position:absolute;margin:-301px 0pt 0pt;overflow:hidden;}
		.login-form-bg{position:absolute;width:50%;height:600px;}
		.form-left{background:url("login-img/login-bg-left.png") repeat-x scroll 0 0 transparent;left:0pt;}
		.form-right{background:url("login-img/login-bg-right.png") repeat-x scroll 0 0 transparent;right:0pt;}

		.login-form{position:absolute;left:50%;width:1000px;height:600px;margin:0pt 0pt 0pt -500px;background:url("login-img/login-bg.png") no-repeat scroll 0 0 transparent;padding:240px 0 0 260px;*padding:260px 0 0 260px;}
		.with-verify{padding:215px 0 0 260px;*padding:235px 0 0 260px;}	
			.login-item{height:30px;margin:20px 0 12px;}
				.item-text{float:left;width:100px;height:30px;line-height:30px;text-align:right;font-size:14px;color:#ffffff;margin-right:5px;font-weight:bold;}
				.item-ipt{float:left;width:276px;height:30px;background:url('login-img/text-long.gif') no-repeat 0 0;padding-left:2px;padding-right:2px;}
					.item-ipt input{background:none repeat scroll 0% 0% transparent;border:medium none;width:100%;height:30px;line-height:30px;}
				.ipt-verify{width:176px;background:url('login-img/text-short.gif') no-repeat 0 0;}
			#imgObj {cursor: pointer;float: left;height: 30px;margin: 0 5px;overflow: hidden;width: 72px;}

			.login-item-btn{margin:15px 0 0;}
				.item-btn{width:105px;height:35px;line-height:35px;margin: 0 0 0 105px;display:inline;}
					.item-btn input{width:105px;height:35px;background:url('login-img/button.png') no-repeat 0 0;display:inline-block;color:#494F50;letter-spacing:3px;font-size:18px;font-weight:bold;padding-left:3px;border:medium none;cursor: pointer;}
					.item-btn input:hover{background:url('login-img/button-hover.png') no-repeat 0 0;text-decoration:none;}
					.item-btn input:active{background:url('login-img/button-hover.png') no-repeat 0 0;}

	
