@charset "utf-8";
.calendar-wrap {
  border: 1px solid #9bc0e0;
  width: 220px;
  overflow: hidden;
  position: relative;
}
.cldr-top {
  height: 20px;
  background: #96c2f1;
}
.cldr-arr {
  position: absolute;
  top: 44px;
  left: 20px;
  width: 13px;
  height: 7px;
  background: #ffffff url('img/arr.png') no-repeat 0 0;
}
.cldr-ipt-wrap {
  height: 30px;
  padding-left: 6px;
  overflow: hidden;
}
.cldr-ipt-wrap input {
  font-size: 12px;
  height: 14px;
  width: 23px;
  border: 1px solid #9bc0e0;
  text-align: center;
  border-radius: 3px;
  ime-mode: disabled;
  padding: 0 1px;
}
.cldr-ipt-wrap input.cldr-ipt-year {
  width: 36px;
}
.cldr-ipt-wrap .cldr-ipt-item {
  float: left;
  height: 30px;
  width: 27px;
  overflow: hidden;
}
.cldr-ipt-wrap .cldr-ipt-item span {
  display: block;
  width: 9px;
  height: 6px;
  margin-left: 9px;
}
.cldr-ipt-wrap .cldr-ipt-item span.cldr-ipt-up {
  background: url('img/up.png') no-repeat 0 0;
}
.cldr-ipt-wrap .cldr-ipt-item span.cldr-ipt-down {
  background: url('img/down.png') no-repeat 0 0;
}
.cldr-ipt-wrap .cldr-ipt-item span:hover {
  cursor: pointer;
}
.cldr-ipt-wrap .cldr-div-year {
  width: 40px;
}
.cldr-ipt-wrap .cldr-div-year .cldr-ipt-up,
.cldr-ipt-wrap .cldr-div-year .cldr-ipt-down {
  margin-left: 15px;
}
.cldr-ipt-wrap .cldr-div-date {
  margin-right: 5px;
}
.cldr-ipt-wrap .cldr-ipt-sep {
  float: left;
  margin: 0 1px;
  width: 5px;
  text-align: center;
  height: 30px;
  line-height: 28px;
  overflow: hidden;
}
.cldr-lst-date {
  border-top: 1px solid #9bc0e0;
  background: #f0f5fb;
}
.cldr-lst-date .cldr-week {
  height: 20px;
  padding-left: 5px;
  border-bottom: 1px dashed #9bc0e0;
}
.cldr-lst-date .cldr-week span {
  float: left;
  width: 30px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: default;
}
.cldr-lst-date .cldr-week span.cldr-weekend {
  color: #ff6600;
}
.cldr-lst-date .cldr-date-wrap {
  padding: 0 0 5px 5px;
  overflow: hidden;
}
.cldr-lst-date .cldr-date-wrap .cldr-date-no {
  float: left;
  width: 30px;
  height: 24px;
}
.cldr-lst-date .cldr-date-wrap .cldr-date-dis {
  float: left;
  width: 30px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #dddddd;
  cursor: default;
}
.cldr-lst-date .cldr-date-wrap a {
  float: left;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  padding: 1px;
  margin: 2px 5px;
}
.cldr-lst-date .cldr-date-wrap a:hover {
  text-decoration: none;
  padding: 0;
  border: 1px solid #004499;
  color: #004499;
}
.cldr-lst-date .cldr-date-wrap a.hdt-date-now {
  padding: 0;
  border: 1px solid #ff6600;
  color: #ff6600;
}
.cldr-lst-drop {
  border-top: 1px solid #9bc0e0;
  background: #f0f5fb;
  padding: 5px 0 5px 5px;
  overflow: hidden;
}
.cldr-lst-drop a {
  float: left;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  padding: 1px;
  margin: 0 1px 1px 0;
}
.cldr-lst-drop a:hover {
  text-decoration: none;
  padding: 0;
  border: 1px solid #004499;
  color: #004499;
}
.cldr-lst-drop a.cldr-lst-drop-now {
  padding: 0;
  border: 1px solid #ff6600;
  color: #ff6600;
}
.cldr-lst-year {
  border-top: 1px solid #9bc0e0;
  background: #f0f5fb;
}
.cldr-lst-year .cldr-wrap {
  padding: 3px 0 3px 3px;
  overflow: hidden;
}
.cldr-lst-year .cldr-wrap a {
  float: left;
  width: 28px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  padding: 1px;
  margin: 0 1px 1px 0;
}
.cldr-lst-year .cldr-wrap a:hover {
  text-decoration: none;
  padding: 0;
  border: 1px solid #004499;
  color: #004499;
}
.cldr-lst-year .cldr-wrap a.cldr-lst-year-now {
  padding: 0;
  border: 1px solid #ff6600;
  color: #ff6600;
}
.cldr-lst-year .cldr-nav {
  border-top: 1px solid #9bc0e0;
  text-align: center;
  margin: 0 5px;
  padding: 5px 0;
}
.cldr-lst-year .cldr-nav a:hover {
  text-decoration: none;
  color: #004499;
}
