@charset "utf-8";

.auto-comp{display:inline-block;position:relative;height:15px;vertical-align:middle;width:100px;padding:1px 15px 1px 1px;_padding:0 15px 0 1px;border:1px solid #7f9db9;color:#000;background:#fff url('img/arr1.gif') no-repeat 95% 50%;outline:none;}
.auto-comp:hover{text-decoration:none;border-color:#3771a6;}
.auto-comp-opened{background-image:url('img/arr2.gif');border-color:#3771a6;}
	.auto-comp-txt{width:100%;white-space:nowrap;height:14px;overflow:hidden;text-overflow:ellipsis;border:none;background:#fff;line-height:1em;}
	.auto-comp-arr{position:absolute;top:2px;right:1px;width:13px;height:13px;line-height:1em;border-left:1px solid #7f9db9;}
	.auto-comp-arr:hover{top:1px;width:12px;height:13px;border:1px solid #7f9db9;}

.auto-comp-disabled{border-color:#ccc;background-color:#eee;}
.auto-comp-disabled:hover{border-color:#ccc;cursor:default;}
	.auto-comp-disabled .auto-comp-txt{background:#eee;color:#999;cursor:default;}
	.auto-comp-disabled .auto-comp-arr{border-color:#ccc;}
	.auto-comp-disabled .auto-comp-arr:hover{top:2px;width:13px;height:13px;border-width:0 0 0 1px;border-color:#ccc;cursor:default;}

.auto-comp-p{display:none;position:absolute;border:1px solid #7f9db9;background:#fff;z-index:8000;overflow:auto;}
	.auto-comp-loading{display:none;position:absolute;top:0;right:0;padding:0 2px;background:#eff4f8;}
	.auto-comp-pis{width:200px;height:180px;overflow:auto;}
		.auto-comp-i{display:block;white-space:nowrap;color:#000;padding:0 2px;outline:none;}
		.auto-comp-i strong{color:#ff6600;font-weight:400;}
		.auto-comp-i:hover{text-decoration:none;background:#eff4f8;}
		.auto-comp-pis .hover{background:#d9e4ed;}
	.auto-comp-pm{margin:0 3px;padding:2px;border-top:1px solid #dbe4ec;}
		.auto-comp-pp{margin-right:5px;visibility:hidden;}
		.auto-comp-pn{margin-right:5px;visibility:hidden;}
		.auto-comp-ec{color:#ff6600;}
