@charset "utf-8";

.auto-comp{display:inline-block;position:relative;height:15px;width:100px;padding:1px 15px 1px 1px;_padding:0 15px 0 1px;border:1px solid #7f9db9;color:#000;}
	.auto-comp input{width:100%;height:14px;line-height:1em;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;border:none;background:#fff;}
	.auto-comp a{position:absolute;top:2px;right:1px;width:13px;height:13px;line-height:1em;border-left:1px solid #7f9db9;background:url('autoComplete-img/arr1.gif') no-repeat 3px 5px;}
	.auto-comp a:hover{top:1px;width:12px;height:13px;border:1px solid #7f9db9;}

.auto-comp-disabled{border-color:#ccc;background-color:#eee;}
		.auto-comp-disabled input{background:#eee;color:#999;cursor:default;}
		.auto-comp-disabled a{border-color:#ccc;}
		.auto-comp-disabled a:hover{top:2px;width:13px;height:13px;border-width:0 0 0 1px;border-color:#ccc;cursor:default;}

/* pop */
.auto-comp-pop{display:none;position:absolute;border:1px solid #7f9db9;background:#fff;z-index:8000;overflow:auto;}
	.auto-comp-loading{display:none;position:absolute;top:0;right:0;padding:0 2px;background:#eff4f8;}
	.auto-comp-as{width:200px;height:180px;overflow:auto;_position:relative;}
		.auto-comp-a{display:block;white-space:nowrap;color:#000;padding:0 2px;outline:none;}
		.auto-comp-a strong{color:#ff6600;font-weight:400;}
		.auto-comp-a:hover{text-decoration:none;background:#eff4f8;}
		.auto-comp-as .hover{background:#d9e4ed;}
	.auto-comp-page{margin:0 3px;padding:2px;border-top:1px solid #dbe4ec;_position:relative;}
		.auto-comp-prev{margin-right:5px;visibility:hidden;}
		.auto-comp-next{margin-right:5px;visibility:hidden;}
		.auto-comp-match{color:#ff6600;}
