@charset "utf-8";

.hdl-vali-wrap{border:1px solid #5692cb;position:absolute;z-index:2000;background:#fff;padding:1px 3px;width:250px;line-height:1.5em;pointer-events:none;_overflow:hidden;}
	.hdl-vali-wrap p{padding:1px 0 1px 20px;}
	.hdl-vali-ok{background:url('hdlValidator-img/ok.gif') no-repeat 0 4px;}
	.hdl-vali-err{background:url('hdlValidator-img/err.gif') no-repeat 0 3px;color:red;}
	.hdl-vali-loading{background:url('hdlValidator-img/loading.gif') no-repeat 0 2px;color:red;}
	.hdl-vali-caution{background:url('hdlValidator-img/caution.gif') no-repeat 0 2px;color:#e7891a;}

input.hdl-vali-ipt-err, textarea.hdl-vali-ipt-err{border-color:red;}
