@charset "utf-8";

.grid-button{display:inline-block;line-height:24px;height:24px;padding-left:8px;background:url('img/normal.gif') no-repeat 0 0;outline:none;}
	.grid-button1{display:inline-block;text-align:center;line-height:24px;height:24px;padding-right:8px;background:url('img/normal.gif') no-repeat right bottom;}
	.grid-button1 span{display:inline-block;line-height:24px;height:24px;}
	.grid-button:hover{background-image:url('img/hover.gif');}
		.grid-button:hover .grid-button1{background-image:url('img/hover.gif');}
	.grid-button-dis{background-image:url('img/normal.gif');cursor:default;}
	.grid-button-dis:hover{background-image:url('img/normal.gif');}
		.grid-button-dis:hover .grid-button1{background-image:url('img/normal.gif');}


	.grid-button .grid-button-add{padding-left:18px;background:url('icon/add.gif') no-repeat 0 50%;}
	.grid-button-dis .grid-button-add{background-image:url('icon/add-1.gif');}
	.grid-button .grid-button-edit{padding-left:18px;background:url('icon/edit.gif') no-repeat 0 50%;}
	.grid-button-dis .grid-button-edit{background-image:url('icon/edit-1.gif');}
	.grid-button .grid-button-del{padding-left:18px;background:url('icon/del.gif') no-repeat 0 50%;}
	.grid-button-dis .grid-button-del{background-image:url('icon/del-1.gif');}
	.grid-button .grid-button-compare{padding-left:18px;background:url('icon/compare.gif') no-repeat 0 50%;}
	.grid-button-dis .grid-button-compare{background-image:url('icon/compare-1.gif');}
	.grid-button .grid-button-export{padding-left:18px;background:url('icon/export.gif') no-repeat 0 50%;}
	.grid-button-dis .grid-button-export{background-image:url('icon/export-1.gif');}
	.grid-button .grid-button-prejudge{padding-left:18px;background:url('icon/prejudge.gif') no-repeat 0 50%;}
	.grid-button-dis .grid-button-prejudge{background-image:url('icon/prejudge-1.gif');}
	.grid-button .grid-button-refresh{padding-left:18px;background:url('icon/refresh.gif') no-repeat 0 50%;}
	.grid-button-dis .grid-button-refresh{background-image:url('icon/refresh-1.gif');}
	.grid-button .grid-button-post{padding-left:18px;background:url('icon/post.gif') no-repeat 0 50%;}
	.grid-button-dis .grid-button-post{background-image:url('icon/post-1.gif');}
	.grid-button .grid-button-import{padding-left:18px;background:url('icon/import.gif') no-repeat 0 50%;}
	.grid-button-dis .grid-button-import{background-image:url('icon/import-1.gif');}
	.grid-button .grid-button-compare{padding-left:18px;background:url('icon/compare.gif') no-repeat 0 50%;}
	.grid-button-dis .grid-button-compare{background-image:url('icon/compare-1.gif');}
	.grid-button .grid-button-compare{padding-left:18px;background:url('icon/compare.gif') no-repeat 0 50%;}
	.grid-button-dis .grid-button-compare{background-image:url('icon/compare-1.gif');}
	.grid-button .grid-button-deploy{padding-left:18px;background:url('icon/deploy.gif') no-repeat 0 50%;}
	.grid-button-dis .grid-button-deploy{background-image:url('icon/deploy-1.gif');}
	.grid-button .grid-button-copy{padding-left:18px;background:url('icon/copy.gif') no-repeat 0 50%;}
	.grid-button-dis .grid-button-copy{background-image:url('icon/copy-1.gif');}
	.grid-button .grid-button-del-deploy{padding-left:18px;background:url('icon/del-deploy.gif') no-repeat 0 50%;}
	.grid-button-dis .grid-button-del-deploy{background-image:url('icon/del-deploy-1.gif');}
	.grid-button .grid-button-down{padding-left:18px;background:url('icon/down.gif') no-repeat 0 50%;}
	.grid-button-dis .grid-button-down{background-image:url('icon/down-1.gif');}
	.grid-button .grid-button-history{padding-left:18px;background:url('icon/history.gif') no-repeat 0 50%;}
	.grid-button-dis .grid-button-history{background-image:url('icon/history-1.gif');}
	.grid-button .grid-button-sync{padding-left:18px;background:url('icon/sync.gif') no-repeat 0 50%;}
	.grid-button-dis .grid-button-sync{background-image:url('icon/sync-1.gif');}
	.grid-button .grid-button-trash{padding-left:18px;background:url('icon/trash.gif') no-repeat 0 50%;}
	.grid-button-dis .grid-button-trash{background-image:url('icon/trash-1.gif');}
