@charset "utf-8";

.config{padding:5px;}

.config-wrap{overflow:auto;background:#fafafa;}
	.config-wrap-in{padding:10px;overflow:hidden;}
	.config-line{border-bottom:1px solid #bdc0c2;margin:20px 0 10px;}
		.config-line span{margin-left:150px;font-weight:700;color:#3e3e3e;}

	.config-item{height:30px;width:500px;margin:0 0 5px;}
		.config-text{float:left;height:30px;line-height:30px;width:145px;padding-right:5px;text-align:right;white-space:nowrap;}
		.config-ipts{float:left;height:28px;width:348px;border:1px solid #dfdfdf;background:#fff;white-space:nowrap;}
			.config-ipts input{display:block;padding:3px;height:22px;width:342px;border:none;background:none;}
			.config-ipts input.config-time{float:left;width:120px;}
			.config-ipts .config-dash{float:left;padding:3px;height:22px;line-height:22px;}
			.config-ipts select{display:block;padding:6px;height:28px;width:348px;border:none;background:none;}

.config-btns{padding:10px 10px 10px 150px;}
	.config-btns input{margin-right:10px;}
