@charset "utf-8";

body{background:url('login-img/bg.gif') 0 0;overflow:hidden;height:100%;}

.login-wrap{width:720px;height:480px;overflow:hidden;position:absolute;top:50%;left:50%;margin:-280px 0 0 -360px;background:url('login-img/login.gif') no-repeat 0 0;}
	.login-wrap form{padding:176px 0 0 140px;}

.ipt-area{overflow:hidden;margin-bottom:20px;}
	.ipt-area span{float:left;width:100px;height:30px;line-height:30px;text-align:right;}
	.ipt-area input{float:left;padding:2px;width:276px;height:26px;border:none;background:none;}
	#veryCode{width:100px;}
	#imgObj{float:left;width:72px;height:30px;overflow:hidden;cursor:pointer;margin:0 5px;}


#submit{width:105px;height:35px;overflow:hidden;text-indent:-100em;margin-left:100px;background:url('login-img/btn.gif') no-repeat 0 0;border:none;cursor:pointer;}
#submit:hover{background-image:url('login-img/btn-hover.gif');}