@charset "utf-8";
.rollto-wrap{width:738px;padding:5px 10px;}

	.rollto-title{border:1px solid #DDDEDF;width:706px;margin:15px 10px 5px;position:relative;padding:16px 0 5px 30px;background-color:#ffffff;}
		.rollto-title .rollto-legend{position:absolute;font-weight:bold;background-color:#ffffff;height:16px;line-height:16px;text-align:center;top:-11px;left:25px;padding: 3px 7px;}
		.rollto-box{}
			.rollto-box a{display:inline-block;width:94px;height:16px;line-height:16px;margin:0 0 5px;}

	.rollto-main{border:1px solid #DDDEDF;width:736px;height:355px;position:relative;overflow:hidden;overflow-y:auto;margin-left: 10px;background-color: #ffffff;}
		.rollto-item{border-top:1px solid #DDDEDF;margin:15px 0 0;position:relative;padding:28px 0 0 42px;*height:100%;_height:85%;}
		.item-selected{background-color:#F3F7F8;}
			.item-selected .rollto-item-title{border:1px solid #DDDEDF;}
			.rollto-item-title{position:absolute;font-weight:bold;background-color:#ffffff;height:12px;line-height:12px;text-align:center;top:-9px;left:25px;padding:3px 7px;color:#6A6A6A;}


			.rollto-item input{width:519px;height:24px;border:1px solid #EAEAEA;line-height: 24px;}

			.rollto-long{overflow:hidden;padding:4px;position: relative;}
				.rollto-long .rollto-label{float:left;height:26px;line-height:26px;width:100px;text-align:right;margin:0 6px 0 0;}
				.rollto-long .rollto-ipts{float:left;height:26px;line-height:26px;}

			.rollto-short{overflow:hidden;padding:4px;position: relative;}
				.rollto-short .rollto-label1{clear:left;float:left;height:26px;line-height:26px;width:100px;text-align:right;margin:0 6px 0 0;}
				.rollto-short .rollto-label2{float:left;height:26px;line-height:26px;width:87px;text-align:right;margin:0 6px 0 0;}
				.rollto-short .rollto-ipts{float:left;height:26px;line-height:26px;}

				.rollto-short input{width:211px;}

	.rollto-submit{padding:3px 9px;margin-left: 10px;}