@charset "utf-8";

/* 配置条件表格 */
.config-wrap{position:relative;height:100%;overflow:hidden;}
	.config-tables{height:100%;overflow:auto;position:relative;}
		.config-tables-in{padding:32px 10px 10px;width:90%;}

		.config-col1-1{width:25%;}
		.config-col1-2{width:75%;}
		.config-col2-1{width:20%;}
		.config-col2-2{width:30%;}

		.config-table{width:100%;position:relative;}
			/* default */
			.config-table th{border:1px solid #dee7ee;padding:3px 10px 3px 5px;background:#f3f8fc;text-align:right;font-weight:400;}
			.config-table td{border:1px solid #dee7ee;padding:3px 5px 3px 5px;}

			/* text-align set on th,td */
			.config-table .text-left{text-align:left;}
			.config-table .text-center{text-align:center;}
			.config-table .text-right{text-align:right;}

			/* text-align set on tr */
			.config-table tr.text-left th
				,.config-table tr.text-left td{text-align:left;}
			.config-table tr.text-center th
				,.config-table tr.text-center td{text-align:center;}
			.config-table tr.text-right th
				,.config-table tr.text-right td{text-align:right;}

			.row_title th{padding: 3px 3px 3px 20px;background:#E1EEF8;color:#3A3A3A;text-align:left;font-weight:700;}


	.config-btns{position:absolute;top:0;left:0;width:90%;text-align:center;padding:5px;background:#fff;}
