@charset "utf-8";

.ls1-item{float:left;margin:0 3px 3px 0;}
	.ls1-label{float:left;height:24px;line-height:24px;width:100px;text-align:right;white-space:nowrap;overflow:hidden;}
	.ls1-ipts{float:left;padding:3px;height:18px;width:124px;white-space:nowrap;overflow:hidden;}


.search-condition{margin:0 3px 3px;padding:3px 100px 0 3px;border:1px solid #dddcdc;overflow:hidden;}
	.search-ls1{float:left;}
	.search-condition-submit{float:right;width:100px;margin-right:-100px;}
		.search-button-submit{}
			.search-button-submit span{width:50px;}

.search-width-auto{}
	.search-width-auto .search-condition{}
	.search-width-auto .search-condition-submit{float:left;margin:0;}

.search-result{padding:0 3px;}


a.wad-btn1{display:inline-block;padding-left:8px;background:url('img/wad-btn1.png') no-repeat 0 0;}
	a.wad-btn1 span{display:inline-block;text-align:center;height:23px;padding-top:5px;padding-right:8px;background:url('img/wad-btn1.png') no-repeat right bottom;}
	a.wad-btn1:hover{background-image:url('img/wad-btn1-hover.png');}
		a.wad-btn1:hover span{background-image:url('img/wad-btn1-hover.png');}
	a.wad-btn1:active{background-image:url('img/wad-btn1-active.png');}
		a.wad-btn1:active span{background-image:url('img/wad-btn1-active.png');}


a.wad-btn2{display:inline-block;padding-left:8px;background:url('img/wad-btn2.png') no-repeat 0 0;}
	a.wad-btn2 span{display:inline-block;text-align:center;height:23px;padding-top:5px;padding-right:8px;background:url('img/wad-btn2.png') no-repeat right bottom;}
