@charset "utf-8";

.ls1-item{float:left;margin:0 3px 3px 0;}
	.ls1-label{float:left;height:24px;line-height:24px;width:100px;text-align:right;white-space:nowrap;overflow:hidden;}
	.ls1-ipts{float:left;padding:3px;height:18px;width:124px;white-space:nowrap;overflow:hidden;}


.search-condition{margin:0 3px 3px;padding:3px 100px 0 3px;border:1px solid #dddcdc;overflow:hidden;}
	.search-ls1{float:left;}
	.search-condition-submit{float:right;width:100px;margin-right:-100px;}
		.search-button-submit{}
			.search-button-submit span{width:50px;}

.search-width-auto{}
	.search-width-auto .search-condition{}
	.search-width-auto .search-condition-submit{float:left;margin:0;}

.search-result{padding:0 3px;}
