@charset "utf-8";

/* 自定义表格 */
.hdlgrid-wrap{position:relative;}

	/* 文本不换行 */
	.hdlgrid-nowrap th,
	.hdlgrid-nowrap td{white-space:nowrap;}

	/* 文本对齐 */
	.hdlgrid-wrap .tr-left{text-align:left;}
	.hdlgrid-wrap .tr-center{text-align:center;}
	.hdlgrid-wrap .tr-right{text-align:right;}
	.hdlgrid-wrap .td-left{text-align:left;}
	.hdlgrid-wrap .td-center{text-align:center;}
	.hdlgrid-wrap .td-right{text-align:right;}


	/* 表title */
	.hdlgrid-title{padding:2px 3px;background:#fff;border:1px solid #c8c8c8;border-bottom:none;position:relative;display:none;}

	/* 表头上的按钮 */
	.hdlgrid-button{height:28px;padding:5px 0 0 5px;background:url('grid-img/btn-bg.gif') repeat-x 0 0;border:1px solid #c8c8c8;border-bottom:none;display:none;}
		.hdlgrid-button .hdlgrid-btn{float:left;height:24px;padding-left:7px;margin-right:4px;background:url('grid-img/icon-bg.gif') no-repeat 0 0;}
		.hdlgrid-button .hdlgrid-btn .hdlgrid-btn2{float:left;height:24px;padding-right:7px;background:url('grid-img/icon-bg.gif') no-repeat right bottom;}
		.hdlgrid-button .hdlgrid-btn:hover{background-image:url('grid-img/icon-bg-1.gif');}
		.hdlgrid-button .hdlgrid-btn:hover .hdlgrid-btn2{background-image:url('grid-img/icon-bg-1.gif');}
		.hdlgrid-button .hdlgrid-btn-dis{cursor:default;color:#cbcbcb;outline:none;}
		.hdlgrid-button .hdlgrid-btn-dis:hover{background-image:url('grid-img/icon-bg.gif');}
		.hdlgrid-button .hdlgrid-btn-dis:hover .hdlgrid-btn2{background-image:url('grid-img/icon-bg.gif');}

		.hdlgrid-button .hdlgrid-btn2 span{float:left;height:24px;line-height:24px;}

		.hdlgrid-button .hdlgrid-add{padding-left:18px;background:url('grid-img/add.gif') no-repeat 0 50%;}
		.hdlgrid-button .hdlgrid-btn-dis .hdlgrid-add{background-image:url('grid-img/add-1.gif');}
		.hdlgrid-button .hdlgrid-edit{padding-left:18px;background:url('grid-img/edit.gif') no-repeat 0 50%;}
		.hdlgrid-button .hdlgrid-btn-dis .hdlgrid-edit{background-image:url('grid-img/edit-1.gif');}
		.hdlgrid-button .hdlgrid-del{padding-left:18px;background:url('grid-img/del.gif') no-repeat 0 50%;}
		.hdlgrid-button .hdlgrid-btn-dis .hdlgrid-del{background-image:url('grid-img/del-1.gif');}
		.hdlgrid-button .hdlgrid-compare{padding-left:18px;background:url('grid-img/compare.gif') no-repeat 0 50%;}
		.hdlgrid-button .hdlgrid-btn-dis .hdlgrid-compare{background-image:url('grid-img/compare-1.gif');}
		.hdlgrid-button .hdlgrid-export{padding-left:18px;background:url('grid-img/export.gif') no-repeat 0 50%;}
		.hdlgrid-button .hdlgrid-btn-dis .hdlgrid-export{background-image:url('grid-img/export-1.gif');}
		.hdlgrid-button .hdlgrid-prejudge{padding-left:18px;background:url('grid-img/prejudge.gif') no-repeat 0 50%;}
		.hdlgrid-button .hdlgrid-btn-dis .hdlgrid-prejudge{background-image:url('grid-img/prejudge-1.gif');}
		.hdlgrid-button .hdlgrid-refresh{padding-left:18px;background:url('grid-img/refresh.gif') no-repeat 0 50%;}
		.hdlgrid-button .hdlgrid-btn-dis .hdlgrid-refresh{background-image:url('grid-img/refresh-1.gif');}
		.hdlgrid-button .hdlgrid-post{padding-left:18px;background:url('grid-img/post.gif') no-repeat 0 50%;}
		.hdlgrid-button .hdlgrid-btn-dis .hdlgrid-post{background-image:url('grid-img/post-1.gif');}
		.hdlgrid-button .hdlgrid-import{padding-left:18px;background:url('grid-img/import.gif') no-repeat 0 50%;}
		.hdlgrid-button .hdlgrid-btn-dis .hdlgrid-import{background-image:url('grid-img/import-1.gif');}
		.hdlgrid-button .hdlgrid-compare{padding-left:18px;background:url('grid-img/compare.gif') no-repeat 0 50%;}
		.hdlgrid-button .hdlgrid-btn-dis .hdlgrid-compare{background-image:url('grid-img/compare-1.gif');}
		.hdlgrid-button .hdlgrid-compare{padding-left:18px;background:url('grid-img/compare.gif') no-repeat 0 50%;}
		.hdlgrid-button .hdlgrid-btn-dis .hdlgrid-compare{background-image:url('grid-img/compare-1.gif');}
		.hdlgrid-button .hdlgrid-deploy{padding-left:18px;background:url('grid-img/deploy.gif') no-repeat 0 50%;}
		.hdlgrid-button .hdlgrid-btn-dis .hdlgrid-deploy{background-image:url('grid-img/deploy-1.gif');}
		.hdlgrid-button .hdlgrid-copy{padding-left:18px;background:url('grid-img/copy.gif') no-repeat 0 50%;}
		.hdlgrid-button .hdlgrid-btn-dis .hdlgrid-copy{background-image:url('grid-img/copy-1.gif');}
		.hdlgrid-button .hdlgrid-del-deploy{padding-left:18px;background:url('grid-img/del-deploy.gif') no-repeat 0 50%;}
		.hdlgrid-button .hdlgrid-btn-dis .hdlgrid-del-deploy{background-image:url('grid-img/del-deploy-1.gif');}
		.hdlgrid-button .hdlgrid-down{padding-left:18px;background:url('grid-img/down.gif') no-repeat 0 50%;}
		.hdlgrid-button .hdlgrid-btn-dis .hdlgrid-down{background-image:url('grid-img/down-1.gif');}
		.hdlgrid-button .hdlgrid-history{padding-left:18px;background:url('grid-img/history.gif') no-repeat 0 50%;}
		.hdlgrid-button .hdlgrid-btn-dis .hdlgrid-history{background-image:url('grid-img/history-1.gif');}
		.hdlgrid-button .hdlgrid-sync{padding-left:18px;background:url('grid-img/sync.gif') no-repeat 0 50%;}
		.hdlgrid-button .hdlgrid-btn-dis .hdlgrid-sync{background-image:url('grid-img/sync-1.gif');}
		.hdlgrid-button .hdlgrid-trash{padding-left:18px;background:url('grid-img/trash.gif') no-repeat 0 50%;}
		.hdlgrid-button .hdlgrid-btn-dis .hdlgrid-trash{background-image:url('grid-img/trash-1.gif');}


	/* 表头 */
	.hdlgrid-head{border:1px solid #c8c8c8;border-bottom:none;background:#e9e9e9;}
		.hdlgrid-head-in{zoom:1;position:relative;overflow:hidden;}
		.hdlgrid-head table{position:relative;table-layout:fixed;}
		.hdlgrid-head th{border-right:1px solid #d7d7d7;border-bottom:1px solid #c8c8c8;padding:3px;font-weight:400;overflow:hidden;text-overflow:ellipsis;}


	/* 内容区域 */
	.hdlgrid-body{border:1px solid #c8c8c8;border-top:none;background:#fff;color:#000;height:250px;overflow:auto;}
		.hdlgrid-body-in{zoom:1;}
		.hdlgrid-body table{table-layout:fixed;}
		.hdlgrid-body td{border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;padding:3px;overflow:hidden;text-overflow:ellipsis;}


	/* 分页区域 */
	.hdlgrid-pager{height:18px;border:1px solid #c8c8c8;border-top:none;text-align:right;padding:5px;display:none;}
		.hdlgrid-pager a:hover{text-decoration:none;}
		.hdlgrid-pager a.hdlgrid-item{display:inline-block;border:1px solid #cacaca;background:#fff;padding:1px 5px;margin:0 1px;}
		.hdlgrid-pager a.hdlgrid-hover{background:#dedede;}
		.hdlgrid-pager span.hdlgrid-item{}


	/* 修改列宽度的 */
	.hdlgrid-resizer{display:none;position:absolute;top:0;left:0;height:100%;}
		.hdlgrid-resizer-i{height:100%;width:1px;background:red;}


	/* 切换列显示 */
	.hdlgrid-toggle-div{display:none;position:absolute;top:20px;left:0;background:#fff;}
		.hdlgrid-toggle-item{display:block;background:#ccc;}
		.hdlgrid-toggle-item:hover{text-decoration:none;background:green;}
	.hdlgrid-toggle-btn{display:none;position:absolute;top:0;left:0;width:20px;height:20px;background:red;}


	/* 遮罩loading区域及无数据提示 */
	.hdlgrid-mask{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;opacity:0.8;filter:alpha(opacity=80);}
	.hdlgrid-nodata{display:none;position:absolute;top:50%;left:50%;width:100px;height:50px;margin:-25px 0 0 -50px;}
	.hdlgrid-loading{display:none;position:absolute;top:50%;left:50%;width:74px;height:91px;margin:-45px 0 0 -37px;background:url('grid-img/loading.gif') no-repeat 0 0;opacity:0.8;filter:alpha(opacity=80);}
