@charset "utf-8";

/* 状态显示 */
p.valid-ok{padding:1px 0 1px 20px;background:url('valid-img/ok.gif') no-repeat 0 4px;}
p.valid-err{padding:1px 0 1px 20px;background:url('valid-img/err.gif') no-repeat 0 3px;color:red;}
p.valid-loading{padding:1px 0 1px 20px;background:url('valid-img/loading.gif') no-repeat 0 2px;color:red;}
p.valid-caution{padding:1px 0 1px 20px;background:url('valid-img/caution.gif') no-repeat 0 2px;color:#e7891a;}

/* 输入框错误显示 */
input.valid-ipt-err,
textarea.valid-ipt-err{border-color:red;}
