@charset "utf-8";
.multilink-warp{width:475px;padding:13px 10px 0 22px;}
	.multilink-head{height:16px;line-height:16px;}
		.multilink-head span{display:inline-block;}
		.mulhead-name{margin:0 0 0 3px;}
		.mulhead-link{margin:0 0 0 102px;}

	.multilink-content{margin:4px 0 3px 0;}
		.multilink-show{height:18px;margin:0 0 8px 0;}
			.multilink-show div{float:left;margin:0 5px 0 0;}
			.multilink-del{height:18px;line-height:18px;display:inline-block;color:#0A8599;}
				input.name-text{width:123px;}
				input.link-text{width:301px;}

	.multilink-btn{}
		.multilink-btn a{text-decoration: none;}