@charset "utf-8";

.hdl-grid-wrap{width:100%;height:100%;position:relative;}

	.hdl-grid-wrap table{width:100%;}
	.hdl-grid-wrap .td-checkbox{text-align:center;}

	.hdl-grid-head{border:1px solid #d7e6f5;border-bottom:none;background:#c7e0fd;}
	.hdl-grid-head th{border-right:1px solid #f1f7fe;border-bottom:1px solid #f1f7fe;padding:3px;font-weight:400;}

	.hdl-grid-body{border-left:1px solid #d7e6f5;border-right:1px solid #d7e6f5;background:#fff;color:#000;}
	.hdl-grid-body tr:nth-child(2n){background:#eef5fd;}
	.hdl-grid-body tr.even{background:#eef5fd;}
	.hdl-grid-body td{border-right:1px solid #d7e6f5;border-bottom:1px solid #d7e6f5;padding:3px;}

	.hdl-grid-pager{height:20px;border:1px solid #d7e6f5;border-top:none;background:#c7e0fd;}

	.hdl-grid-resizer{display:none;position:absolute;top:0;left:0;}

	.hdl-grid-toggle-div{display:none;position:absolute;top:0;left:0;}

	.hdl-grid-toggle-btn{display:none;position:absolute;top:0;left:0;}

	.hdl-grid-mask{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.2;filter:alpha(opacity=20);}

	.hdl-grid-nodata{display:none;position:absolute;top:50%;left:50%;width:100px;height:50px;margin:-25px 0 0 -50px;}

	.hdl-grid-loading{display:none;position:absolute;top:50%;left:50%;width:74px;height:91px;margin:-45px 0 0 -37px;background:url('img/loading.gif') no-repeat 0 0;opacity:0.8;filter:alpha(opacity=80);}
