@charset "utf-8";

.flow-wrap{}
	.flow-nav{height:29px;}
		.flow-nav-one{float:left;height:29px;padding-right:20px;background:url('flow-img/one.gif') no-repeat right 0;}
		.flow-nav-one-in{float:left;height:29px;padding-left:20px;background:url('flow-img/one.gif') no-repeat 0 0;line-height:29px;color:#fff;}

		.flow-nav-other{float:left;height:29px;margin-left:5px;padding-right:20px;background:url('flow-img/other.gif') no-repeat right 0;}
		.flow-nav-other-in{float:left;height:29px;margin-left:-15px;padding-left:20px;background:url('flow-img/other.gif') no-repeat 0 0;line-height:29px;color:#fff;}

		.flow-nav-other-now{float:left;height:29px;margin-left:5px;padding-right:20px;background:url('flow-img/other-now.gif') no-repeat right 0;}
		.flow-nav-other-now-in{float:left;height:29px;margin-left:-15px;padding-left:20px;background:url('flow-img/other-now.gif') no-repeat 0 0;line-height:29px;color:#fff;}
	.flow-content{}
