@charset "utf-8";

/* 下拉自动完成 */
.autocomp{display:inline-block;height:15px;width:104px;overflow:hidden;padding:1px 15px 1px 3px;border:1px solid #7f9db9;color:#000;background:#fff;}
	.autocomp input{float:left;width:104px;height:15px;line-height:15px;white-space:nowrap;border:none;padding:0;background:#fff;}
	.autocomp span{float:right;width:13px;height:13px;margin:1px -14px 0 0;border-left:1px solid #7f9db9;background:url('autocomp-img/arr.gif') no-repeat;cursor:pointer;}

.autocomp-disabled{border-color:#ccc;background-color:#eee;}
		.autocomp-disabled input{background:#eee;color:#999;cursor:default;}
		.autocomp-disabled input[disabled]{border:none;padding:0;clear:right;}
		.autocomp-disabled span{border-color:#ccc;cursor:default;background-position:0 bottom;}

/* 下拉样式 */
.autocomp-pop{display:none;position:absolute;width:200px;border:1px solid #7f9db9;background:#fff;overflow:hidden;}
	.autocomp-loading{display:none;position:absolute;top:0;left:0;padding:0 2px;background:#eff4f8;}
	.autocomp-as{height:176px;width:196px;padding:2px;overflow-x:hidden;overflow-y:auto;}
		.autocomp-a{display:block;width:192px;height:18px;line-height:18px;padding:0 2px;overflow:hidden;color:#000;outline:none;white-space:nowrap;text-overflow:ellipsis;}
		.autocomp-a strong{color:#ff6600;font-weight:400;}
		.autocomp-a:hover{text-decoration:none;background:#d9e4ed;}
		.autocomp-as .hover{background:#d9e4ed;}
	.autocomp-page{margin:0 3px;height:18px;padding:2px;border-top:1px solid #dbe4ec;_position:relative;}
		.autocomp-prev{margin-right:5px;}
		.autocomp-next{margin-right:5px;}
.autocomp-pop-long{overflow-x:hidden;overflow-y:auto;}
	.autocomp-pop-long .autocomp-as{overflow-x:hidden;overflow-y:auto;}
	.autocomp-pop-long .autocomp-a{width:175px;}
