@charset "utf-8";

.ui-button{display:inline-block;padding-left:8px;background:url('theme-gray/normal.png') no-repeat 0 0;outline:none;}
	.ui-button span{display:inline-block;text-align:center;height:23px;padding-top:5px;padding-right:8px;background:url('theme-gray/normal.png') no-repeat right bottom;}
	.ui-button:hover{background-image:url('theme-gray/hover.png');}
		.ui-button:hover span{background-image:url('theme-gray/hover.png');}
	.ui-button:active{background-image:url('theme-gray/active.png');}
		.ui-button:active span{background-image:url('theme-gray/active.png');}
