@charset "utf-8";
body{padding:50px;}

.section{border:1px solid #ccc;padding:13px 3px 3px;margin-bottom:10px;}
	.legend{float:left;border:1px solid #ccc;background:#fff;height:16px;padding:1px 3px;margin:-23px 0 0 0;}
	.box{padding:3px;overflow:hidden;}
		.box p{background:#eee;margin-bottom:5px;}
		.box p.col{background:#eee;padding:3px;margin:0 5px 5px 0;float:left;width:280px;}