@charset "utf-8";

a.btn1-white{display:inline-block;padding-left:8px;background:url('white/normal.png') no-repeat 0 0;}
	a.btn1-white span{display:inline-block;text-align:center;height:23px;padding-top:5px;padding-right:8px;background:url('white/normal.png') no-repeat right bottom;}
	a.btn1-white:hover{background-image:url('white/hover.png');}
		a.btn1-white:hover span{background-image:url('white/hover.png');}
	a.btn1-white:active{background-image:url('white/active.png');}
		a.btn1-white:active span{background-image:url('white/active.png');}
a.btn1-white-dis{display:inline-block;padding-left:8px;background:url('white/disabled.png') no-repeat 0 0;cursor:default;}
	a.btn1-white-dis span{display:inline-block;color:#999;text-align:center;height:23px;padding-top:5px;padding-right:8px;background:url('white/disabled.png') no-repeat right bottom;}

a.btn1-gray{display:inline-block;padding-left:8px;background:url('gray/normal.png') no-repeat 0 0;}
	a.btn1-gray span{display:inline-block;text-align:center;height:23px;padding-top:5px;padding-right:8px;background:url('gray/normal.png') no-repeat right bottom;}
	a.btn1-gray:hover{background-image:url('gray/hover.png');}
		a.btn1-gray:hover span{background-image:url('gray/hover.png');}
	a.btn1-gray:active{background-image:url('gray/active.png');}
		a.btn1-gray:active span{background-image:url('gray/active.png');}
a.btn1-gray-dis{display:inline-block;padding-left:8px;background:url('gray/disabled.png') no-repeat 0 0;cursor:default;}
	a.btn1-gray-dis span{display:inline-block;color:#999;text-align:center;height:23px;padding-top:5px;padding-right:8px;background:url('gray/disabled.png') no-repeat right bottom;}

a.btn1-blue{display:inline-block;padding-left:8px;background:url('blue/normal.png') no-repeat 0 0;}
	a.btn1-blue span{display:inline-block;text-align:center;height:23px;padding-top:5px;padding-right:8px;background:url('blue/normal.png') no-repeat right bottom;}
	a.btn1-blue:hover{background-image:url('blue/hover.png');}
		a.btn1-blue:hover span{background-image:url('blue/hover.png');}
	a.btn1-blue:active{background-image:url('blue/active.png');}
		a.btn1-blue:active span{background-image:url('blue/active.png');}
a.btn1-blue-dis{display:inline-block;padding-left:8px;background:url('blue/disabled.png') no-repeat 0 0;cursor:default;}
	a.btn1-blue-dis span{display:inline-block;color:#999;text-align:center;height:23px;padding-top:5px;padding-right:8px;background:url('blue/disabled.png') no-repeat right bottom;}


/* css3 */
.btn-css3-green{border:1px solid #7da511; display:inline-block; width:65px;height:22px;line-height:22px;overflow:hidden;text-align:center;background:#86c31f; color:#FFF;font-size:12px; -moz-border-radius:3px; -webkit-border-radius:3px; -moz-box-shadow:0 1px 0px #c9e77b inset; -webkit-box-shadow:0 1px 0px #c9e77b inset; background:-moz-linear-gradient(top, #98d10c, #73b633 100%);background: -webkit-gradient(linear, 0 0, 0 100%, from(#000), color-stop(2.5%, #98d10c ), color-stop(100%, #73b633));outline:none;}
.btn-css3-green:hover{text-decoration:none; background:#98d10c; border:1px solid #7da511; -moz-box-shadow:0 1px 0px #c9e77b inset; -webkit-box-shadow:0 1px 0px #c9e77b inset; background:-moz-linear-gradient(top, #98d10c, #90cb15 100%); background: -webkit-gradient(linear, 0 0, 0 100%, from(#a6d4ea), color-stop(2.5%, #98d10c ),color-stop(100%, #90cb15));}