@charset "utf-8";

.week-tool-wrap{position:absolute;width:312px;height:212px;border:1px solid #7f9db9;background:#fff;}
	.week-tool-wrap a:hover{text-decoration:none;color:#fe6710;}
	.week-tool-yearw{height:18px;text-align:center;}
		.week-tool-yearwp{margin-right:8px;}
		.week-tool-year{margin-right:5px;}
		.week-tool-yearwn{}
	.week-tool-yearp{display:none;position:absolute;top:18px;left:95px;width:120px;height:130px;border:1px solid #7f9db9;background:#fff;}
		.week-tool-yearl{text-align:center;padding:2px;height:108px;}
			.week-tool-yearli{}
		.week-tool-yearlp{text-align:center;border-top:1px solid #7f9db9;}
			.week-tool-yearlpp{margin-right:5px;}
			.week-tool-yearlpn{}
	.week-tool-head{height:22px;padding-right:17px;border-top:1px solid #7f9db9;border-bottom:1px solid #7f9db9;}
		.week-tool-col1{float:left;width:35px;padding:2px 0;text-align:center;}
		.week-tool-col2{float:left;width:130px;padding:2px 0;text-align:center;}
		.week-tool-col3{float:left;width:130px;padding:2px 0;text-align:center;}
		.week-tool-selected .week-tool-col2, .week-tool-selected .week-tool-col3{background:#c8e3f3;}
		a.week-tool-col2{color:#00c;}
		a.week-tool-col3{color:#00c;}
	.week-tool-list{overflow-x:hidden;overflow-y:scroll;height:170px;}
		.week-tool-list li{height:22px;vertical-align:bottom;border-bottom:1px solid #B9D6E7;}
