

.province-city{float:left;width:170px;height:300px;overflow:auto;padding-bottom:10px;border:1px solid #ccc;}
	.province-city a{display:block;text-align:center;text-decoration:none;}
	.province-city a:hover{background:red;}
	.province-city a.hover{background:green;}
