@charset "utf-8";

.ui-tab{}
	.ui-tab-nav{height:22px;padding:5px 0 0 5px;border-bottom:1px solid #a1c6e1;}
		.ui-tab-nav li{float:left;margin-right:5px;background:url('tab-img/nav.gif') no-repeat 0 0;padding-left:10px;cursor:pointer;}
			.ui-tab-nav a{float:left;height:22px;line-height:22px;color:#000;background:url('tab-img/nav.gif') no-repeat right 0;padding-right:10px;outline:none;}
			.ui-tab-nav a:hover{text-decoration:none;color:#666;}
			.ui-tab-nav span{float:left;height:22px;line-height:22px;cursor:pointer;background:url('tab-img/nav.gif') repeat-x 0 -50px;}
		.ui-tab-nav li.ui-tab-hover{height:23px;font-weight:700;background:url('tab-img/nav.gif') no-repeat 0 -25px;margin-bottom:-1px;position:relative;}
			.ui-tab-nav li.ui-tab-hover a{height:23px;font-weight:700;background:url('tab-img/nav.gif') no-repeat right -25px;}
			.ui-tab-nav li.ui-tab-hover span{height:23px;background-position:0 -75px;}

	.ui-tab div.ui-tab-con{overflow:auto;}


.ui-tab-sf .ui-tab-nav{height:27px;background:url('tab-img/tab-bg.gif') repeat-x 0 bottom;border:none;}
.ui-tab-sf li{background:url('tab-img/off.gif') no-repeat 0 0;padding-left:25px;margin-right:-13px;height:27px;}
	.ui-tab-sf a{background:url('tab-img/off.gif') no-repeat right bottom;padding-right:25px;height:26px;}
	.ui-tab-sf span{background:none;color:#5b5b5b;height:27px;line-height:27px;}

.ui-tab-sf li.ui-tab-hover{background:url('tab-img/on.gif') no-repeat 0 0;position:relative;height:27px;}
	.ui-tab-sf li.ui-tab-hover a{background:url('tab-img/on.gif') no-repeat right bottom;font-weight:400;height:26px;}
	.ui-tab-sf li.ui-tab-hover span{background:none;}

.ui-tab-sf li.ui-tab-hover{}
	.ui-tab-sf li.ui-tab-hover a{}
	.ui-tab-sf li.ui-tab-hover span{}

