@charset "utf-8";

.ui-tab{}
	.ui-tab-nav{height:22px;padding:5px 0 0 5px;border-bottom:1px solid #a1c6e1;}
		.ui-tab-nav li{float:left;margin-right:5px;background:url('tab-img/nav.gif') no-repeat 0 0;padding-left:10px;cursor:pointer;}
			.ui-tab-nav a{float:left;height:22px;line-height:22px;color:#000;background:url('tab-img/nav.gif') no-repeat right 0;padding-right:10px;outline:none;}
			.ui-tab-nav a:hover{text-decoration:none;color:#666;}
			.ui-tab-nav span{float:left;height:22px;line-height:22px;cursor:pointer;background:url('tab-img/nav.gif') repeat-x 0 -50px;}
		.ui-tab-nav li.ui-tab-hover{height:23px;font-weight:700;background:url('tab-img/nav.gif') no-repeat 0 -25px;margin-bottom:-1px;position:relative;}
			.ui-tab-nav li.ui-tab-hover a{height:23px;font-weight:700;background:url('tab-img/nav.gif') no-repeat right -25px;}
			.ui-tab-nav li.ui-tab-hover span{height:23px;background-position:0 -75px;}

	.ui-tab div.ui-tab-con{overflow:auto;}


.ui-tab-sf .ui-tab-nav{height:25px;background:url('tab-img/tab-bg.gif') repeat-x 0 bottom;border:none;padding:0 26px 0 10px;}
.ui-tab-sf .ui-tab-nav li{background:url('tab-img/two-off.gif') no-repeat 0 0;padding-left:20px;height:25px;}
	.ui-tab-sf .ui-tab-nav a{color:#5b5b5b;background:url('tab-img/two-off.gif') no-repeat right -30px;padding-right:25px;height:25px;}
	.ui-tab-sf .ui-tab-nav a:hover{color:#919191;}
	.ui-tab-sf .ui-tab-nav span{background:none;height:25px;line-height:25px;padding:0 10px;}

.ui-tab-sf .ui-tab-nav li.ui-tab-hover{background:url('tab-img/two-on.gif') no-repeat 0 0;height:25px;}
	.ui-tab-sf .ui-tab-nav li.ui-tab-hover a{background:url('tab-img/two-on.gif') no-repeat right -30px;height:25px;font-weight:400;}
	.ui-tab-sf .ui-tab-nav li.ui-tab-hover span{background:none;height:25px;}

.ui-tab-sf div.ui-tab-con{display:none;padding:5px 5px 0;}


.theme-nobg .ui-tab-nav{background:none;border:none;}
.theme-nobg .ui-tab-nav li{background:none;}
	.theme-nobg .ui-tab-nav a{background:none;}
	.theme-nobg .ui-tab-nav a:hover{color:#919191;}
	.theme-nobg .ui-tab-nav span{background:none;height:25px;line-height:25px;padding:0 10px;}

.theme-nobg .ui-tab-nav li.ui-tab-hover{background:none;}
	.theme-nobg .ui-tab-nav li.ui-tab-hover a{background:none;}
	.theme-nobg .ui-tab-nav li.ui-tab-hover span{background:none;height:25px;}

.theme-nobg div.ui-tab-con{padding:5px 5px 0;}



.theme-gray .ui-tab-nav{height:25px;background:url('tab-img/tab-bg.gif') repeat-x 0 bottom;border:none;padding:0 26px 0 10px;}
.theme-gray .ui-tab-nav li{background:url('tab-img/two-off.gif') no-repeat 0 0;padding-left:20px;height:25px;}
	.theme-gray .ui-tab-nav a{color:#5b5b5b;background:url('tab-img/two-off.gif') no-repeat right -30px;padding-right:25px;height:25px;}
	.theme-gray .ui-tab-nav a:hover{color:#919191;}
	.theme-gray .ui-tab-nav span{background:none;height:25px;line-height:25px;padding:0 10px;}

.theme-gray .ui-tab-nav li.ui-tab-hover{background:url('tab-img/two-on.gif') no-repeat 0 0;height:25px;}
	.theme-gray .ui-tab-nav li.ui-tab-hover a{background:url('tab-img/two-on.gif') no-repeat right -30px;height:25px;font-weight:400;}
	.theme-gray .ui-tab-nav li.ui-tab-hover span{background:none;height:25px;color:#990000;font-weight:700;}

.theme-gray div.ui-tab-con{padding:5px 5px 0;overflow:auto;position:relative;}

.width-thin .ui-tab-nav li{padding-left:5px;}
	.width-thin .ui-tab-nav a{padding-right:5px;}
	.width-thin div.ui-tab-con{padding:0;}