@charset "utf-8";

.week-wrap{}
	.week-legend{position:absolute;}
		.week-legend span{position:absolute;background:#fff;text-align:center;}
		.week-legend1{left:35px;width:30px;}
		.week-legend2{left:125px;width:30px;}
		.week-legend3{left:190px;width:50px;}
		.week-legend4{left:285px;width:30px;}
		.week-legend5{left:350px;width:50px;}

	.week-box-out{float:left;margin-top:9px;padding:9px 3px 3px;margin-right:5px;border:1px solid #C7D2D7;}

	.week-box{float:left;width:100px;height:250px;overflow-x:hidden;overflow-y:auto;}
		.week-box a{display:block;padding:2px 0 0;color:#4E4E4E;text-align:center;text-decoration:none;outline:none;}
		.week-box a.hover{background:#B3D0FF;}

	.week-box2{float:left;width:340px;height:250px;overflow-x:hidden;overflow-y:scroll;}
		.week-time{float:left;width:160px;}
		.week-time a{display:block;padding:2px 0 0;color:#4E4E4E;text-align:center;text-decoration:none;outline:none;}
		.week-time span{color:#999;}
		.week-time strong{color:#000;display:inline-block;width:30px;text-align:center;}
		.week-time a.disabled{color:#eee;cursor:default;}
			.week-time a.disabled:hover{color:#eee;}
			.week-time a.disabled *{color:#eee;}
		.week-time a.hover{background:#B3D0FF;}
			.week-time a.hover span{color:#4E4E4E;}

